RewriteEngine On
RewriteBase /frontend/

# Skip rewrite if the request is for an existing file or directory
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, route everything to index.html
RewriteRule ^ index.html [L]